@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&family=Roboto:wght@300;400;700&display=swap');

/*-- Global settings */
:root {
    --cl-primary: #da5c08;
    --cl-secondary: rgb(40,163,204);
    /* --cl-primary: rgb(189, 67, 54);
    --cl-secondary: rgb(44, 177, 81); */
    --cl-black: rgb(17, 17, 18);
    --cl-white: rgb(251, 245, 245);
    --cl-error-bg: rgba(0, 0, 0, 0.7);

    --ff-roboto: font-family: 'Roboto', sans-serif;
    --ff-roboto-slab: 'Roboto Slab', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cl-black);
    color: var(--cl-primary);
    font-family: var(--ff-roboto-slab);
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-roboto);
}

section {
    /* height: 100vh; */
    height: auto;
    background-image: url('../img/pexels-lucas-pezeta-milky-way.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-- Cards  ----------------------------------------*/
.card {
    width: 40%;
    background-color: var(--cl-black);
    margin: 3em;
}

/* .card img {
    width: 250px;
    align-self: center;
} */

.card-header {
    background-color: var(--cl-primary);
    color: var(--cl-black);
}

/*-- Earth cards  ----------------------------------------*/
#earth-view {
    color: var(--cl-secondary);
}

#earth-view .card-header {
    background-color: var(--cl-secondary);
}


/*-- Error pages  -----------------------------------*/
.error-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.error-content {
    border: 1px solid;
    background-color: var(--cl-error-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-content > p {
    margin: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.error-title {
    font-size: xx-large;
    font-style: bold;
}

.error-link {
    border: 2px solid;
    border-radius: 5px;
    color: var(--cl-primary);
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.error-title,
.error-link {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.error-link:hover {
    background-color: var(--cl-primary);
    color: var(--cl-black);
}

/*-- Privacy Policy pages  -----------------------------------*/
#privacy-page-hero > .privacy-page-text-wrapper:first-child h2:first-child{
    font-size: 200%;
}
.privacy-page-text-wrapper{
    padding: 15px 50px 10px 50px;
}
.privacy-page-text-wrapper a{
    text-decoration: none;
    color: var(--cl-white);
    font-style: italic;
}
.privacy-page-text-wrapper a:hover{
    border-bottom: 3px solid var(--cl-black);
    transition-delay: 100ms;
}