@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&family=Roboto:wght@300;400;700&display=swap');

/*-- Global settings */
:root {
    --cl-primary: rgb(218, 92, 8);
    --cl-secondary: rgb(40,163,204);

    --cl-black: rgb(17, 17, 18);
    --cl-white: rgb(251, 245, 245);
    --ff-roboto: font-family: 'Roboto', sans-serif;
    --ff-roboto-slab: 'Roboto Slab', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cl-black);
    color: var(--cl-primary);
    font-family: var(--ff-roboto-slab);
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-roboto);
}

section {
    height: 100vh;
    background: url('../img/pexels-lucas-pezeta-milky-way.jpg') center/cover fixed;
}

/* Landing Section */

#landing {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landing-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
}

#landing-content h1 {
    font-size: 8rem;
    text-align: center;
}

#landing-alt-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Model Viewer Element Styles for 3D models inclusion */
model-viewer {
    /* height: 90vh;
    width: 100%; */
    /* pointer-events: none; */
    background-color: transparent;
    /* margin-top: 2rem; */
}

.view-button {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 12px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
}

/*-- Cards  ----------------------------------------*/
.card {
    width: 40%;
    background-color: var(--cl-black);
    margin: 3em;
}

/* .card img {
    width: 250px;
    align-self: center;
} */

.card-header {
    background-color: var(--cl-primary);
    color: var(--cl-black);
}

/*-- Earth cards  ----------------------------------------*/
#earth-view {
    color: var(--cl-secondary);
}

#earth-view .card-header {
    background-color: var(--cl-secondary);
}


/*-- Error pages  -----------------------------------*/
.error-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.error-content {
    /* border: 1px solid; */
    /* background-color: var(--cl-black); */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-content > p {
    margin: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.error-title {
    font-size: xx-large;
    font-style: bold;
}

.error-link {
    border: 2px solid;
    border-radius: 5px;
    color: var(--cl-primary);
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.error-title,
.error-link {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.error-link:hover {
    background-color: var(--cl-primary);
    color: var(--cl-black);
}
